.colors{
    background-color: aquamarine;
}
.red{
    color:lightcoral;
}
.green{
    color:lightgreen
}
.blue{
    color:skyblue;
}
.list-group{
    font-size:5.5 rem;
}
.show{
    display:black;
}
.hide{
    display:none;
}