.colors{
    background-color:rgb(167, 152, 252);
}
.red{
    color:lightcoral;
}
.green{
    color:lightgreen
}
.blue{
    color:skyblue;
}
.list-group{
    font-size:5.5 rem;
}
.show{
    display:black;
}
.hide{
    display:none;
}